<div class="card p-3 page-head">
  <h3 class=>Dashboard</h3>
</div>

{{#each posts as |post|}}
<div class="card p-3">
  <h3>
    <a id="normal-txt" href="/dashboard/edit/{{post.id}}">{{post.title}}</a>
  </h3>
  <p>Posted on {{format_date create_date}}</p>
</div>
{{/each}}
<div class="card new-post-btn">
  <a href="/dashboard/new">New Post</a>
</div>