<div class="card p-3 d-flex justify-content">
  <h3>Edit or Delete Post</h3>

  <form class="form edit-post" data-id="{{id}}">
    <div class="form-group d-flex flex-column">
      <label for="post-title">Title:</label>
      <input class="form-input" type="text" id="post-title" name="post-title">
    </div>
    <div class="form-group d-flex flex-column">
      <label for="post-comment">Content:</label>
      <textarea class="form-input" type="text" id="post-comment" name="post-comment"></textarea>
    </div>
    <div class="form-group my-3">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
  <div class="my-1">
    <button type="button" class="btn btn-primary delete-post" data-id="{{id}}">Delete</button>
  </div>
</div>

<script src="/js/edit.js"></script>