<div class="card p-3">
  <h3>Create New Post</h3>

  <form class="form new-post">
    <div class="form-group d-flex flex-column">
      <label for="post-title">Title:</label>
      <input class="form-input" type="text" id="post-title" name="post-title">
    </div>
    <div class="form-group d-flex flex-column">
      <label for="post-comment">Content:</label>
      <textarea  class="form-input" type="text" id="post-comment" name="post-comment"></textarea>
    </div>
    <div class="form-group my-3">
      <button type="submit" class="btn btn-primary ">Create</button>
    </div>
  </form>
</div>

<script src="/js/post.js"></script>